<div class="control-group">
  <span class="control-label">Mode</span>
  <button type="button" data-wpd-add-point class="pressed-button">Add point</button>
  <button type="button" data-wpd-delete-point>Delete point</button>
</div>
