<div class="control-group point-color-group">
  <span class="control-label">Point color</span>
  <input type="color" class="point-color-picker" data-wpd-point-color-picker value="#ef4444" aria-label="Point color">
</div>
