<section class="workspace-card">
  <div class="canvas-panel" tabindex="0" data-wpd-hotkeys-scope aria-label="Digitizer canvas area">
    <canvas class="wpd-image-canvas" aria-label="Digitized image" data-wpd-image-canvas></canvas>

    <% if show_zoom_panel %>
      <div class="zoom-panel">
        <div class="zoom-header">
          <span>Zoom</span>
          <div class="zoom-header-meta">
            <span data-wpd-zoom-level>100%</span>
            <button type="button" class="zoom-toggle-button" data-wpd-zoom-toggle data-label-expand="Maximize zoom" data-label-collapse="Minimize zoom" aria-expanded="true" aria-label="Minimize zoom" title="Minimize zoom"></button>
          </div>
        </div>
        <canvas class="wpd-zoom-canvas" width="220" height="220" aria-label="Zoom preview" data-wpd-zoom-canvas></canvas>
        <p class="wpd-cursor-readout" data-wpd-cursor-readout>x: -, y: -</p>
      </div>
    <% end %>
  </div>
</section>
