<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>WebPlotDigitizer</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag "web_plot_digitizer", media: "all", "data-turbo-track": "reload" %>
<%= javascript_include_tag "web_plot_digitizer", defer: true, "data-turbo-track": "reload" %>
