<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="Description" content="ZenPlot v{{ wpdVersion }} - {{ _('Web based tool to extract numerical data from plots and graph images.') }}" />
<meta name="Keywords" content="Plot, Digitizer, ZenPlot, Ankit Rohatgi, Extract Data, Convert Plots, XY, Polar, Ternary, Map, HTML5" />
<meta name="Author" content="Ankit Rohatgi" />
<meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<title>ZenPlot - Copyright 2010-2025 Ankit Rohatgi</title>
<link rel="stylesheet" href="node_modules/bootstrap-icons/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="styles/styles.css" type="text/css" media="screen" />
<link rel="stylesheet" href="styles/widgets.css" type="text/css" media="screen" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
