<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ZenPlot</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag "zen_plot", media: "all", "data-turbo-track": "reload" %>
<%= javascript_include_tag "zen_plot", defer: true, "data-turbo-track": "reload" %>
